.container {
  max-width: 1128px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.main-title {
  margin-left: auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 0.3s;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}

.gallery-link:hover {
  cursor: zoom-in;
}
